* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Start coding here */
:root {
  --secondary-color: cornsilk;
  --branding-color: #ff7f50;
  --padding-level5: 20px;
  --triple-extra-large: 100px;
}

.introduction {
  background-color: var(--secondary-color);
  padding: var(--padding-level5);
}

.introduction h1 {
  color: var(--branding-color);
  font-size: var(--triple-extra-large);
}
